button {
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  background-color: #FFCA2C; /* Amarillo más cálido */
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #E0B322; /* Amarillo oscuro */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
