<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
<div [ngClass]="{'dark-mode': isDarkMode}">
<h1>SUMATIVA</h1>
<div class="general" [ngClass]="{'dark-mode': isDarkMode}">
  <div class="components" [ngClass]="{'dark-mode': isDarkMode}">
    <div class="buttons" >
      <!-- Botones -->
      <app-btn1-component (onIncreaseFontSize)="handleIncreaseFontSize()"></app-btn1-component>
      <app-btn2-component (onDecreaseFontSize)="handleDecreaseFontSize()"></app-btn2-component>
      <app-btn3-component (onChangeColor)="handleChangeColor()"></app-btn3-component>
      <app-btn4-component (onClearInputs)="handleClearInputs()"></app-btn4-component>
      <app-btn5-component (onToggleDarkMode)="toggleDarkMode()"></app-btn5-component>
    </div>
    <div class="inputs" >
      <!-- Inputs con referencias -->
      <app-texto-component 
        #textoComponent 
        (onTextChange)="updateText($event)">
      </app-texto-component>

      <app-email-component 
        #emailComponent 
        (onEmailChange)="updateEmail($event)">
      </app-email-component>

      <app-contra-component 
        #contraComponent 
        (onPasswordChange)="updatePassword($event)">
      </app-contra-component>
    </div>
  </div>
  <div class="viewer" [style.fontSize.px]="fontSize" [ngClass]="{'dark-mode': isDarkMode}">
    <!-- Viewer -->
    <app-view-component 
      [boxColor]="boxColor" 
      [password]="password" 
      [email]="email" 
      [text]="text"
      [isDarkMode]="isDarkMode">
    </app-view-component>
  </div>
</div>
</div>
