<div class="general">
  <div class="components">
    <div class="buttons">
  <app-btn1-component (onIncreaseFontSize)="handleIncreaseFontSize()"></app-btn1-component>
  <app-btn2-component (onDecreaseFontSize)="handleDecreaseFontSize()"></app-btn2-component>
  <app-btn3-component (onChangeColor)="handleChangeColor()"></app-btn3-component>
  <app-btn4-component (onClearInputs)="handleClearInputs()"></app-btn4-component>
  <app-btn5-component (onToggleDarkMode)="toggleDarkMode()"></app-btn5-component>
    </div>
    <div class="inputs">
  <app-texto-component (onTextChange)="updateText($event)"></app-texto-component>
  <app-email-component (onEmailChange)="updateEmail($event)"></app-email-component>
  <app-contra-component (onPasswordChange)="updatePassword($event)"></app-contra-component>
    </div>
  </div>
  <div class="viewer" [style.fontSize.px]="fontSize">
    <app-view-component #viewer [password]="password" [email]="email" [text]="text"></app-view-component>
  </div>
</div>
